.admin-main-slider.pagebanner .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.export-section{
    margin-top: 50px;
    margin-bottom: 100px;
}
.export-btn{
    padding-bottom: 10px;
}